

.container{
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: content-box;
}

input{
    padding: 9px;
    width:  32vw;
}

.inputcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 90vh;
    border: 1px solid;
    box-shadow: 3px 3px 3px 3px ;
    /* background-color: aqua; */
}
.inputcontainer form{

    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    padding:50px ;
    /* background-color: aqua; */
}
.heading{
    font-size: 20px;
    font-weight: bold;

}
.selector{
    margin-top:20px ;
    
}
.selector select{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.radiobtn{
 display: flex; 

 
}
.radiobtn input{
    width: 25px;
}
.formating{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px)
{
    input{
        padding: 9px;
        width:  10vw;
    }
    .container{
        box-sizing: border-box;
    }
	.inputcontainer{
        width: 100vw;
        background-color: aqua;
    }
}