
:root{
    --formwidthvaluepadding:50px;
    --inputcontainerwidth:40vw
}
.container{
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: content-box;
}

input{
    padding: 9px;
    width:  32vw;
    margin-left: 5px;
}

.inputcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:var(--inputcontainerwidth);
    height: 90vh;
    border: 1px solid;
    box-shadow: 3px 3px 3px 3px ;
    /* background-color: aqua; */
}
.inputcontainer form{

    display: flex;
    justify-content: center;

    padding:var(--formwidthvaluepadding) ;
    
}
.heading{
    font-size: 20px;
    font-weight: bold;

}
.selector{
    margin-top:20px ;
    
}
.selector select{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.radiobtn{
 display: flex; 

 
}
.radiobtn input{
    width: 25px;
}
.formating{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px)
{
    :root{
        --formwidthvaluepadding:10px;
        --inputcontainerwidth:100vw
    

    }
    textarea{
        width: 100%;
    }
    
}
@media only screen and (max-width: 1534px)
{
    :root{
        --formwidthvaluepadding:10px;
        --inputcontainerwidth:100vw
    

    }
    textarea{
        width: 100%;
    }
    
}
@media only screen and (max-width: 1000px)
{
    :root{
        --formwidthvaluepadding:10px;
        --inputcontainerwidth:100vw
    

    }
    textarea{
        width: 100%;
    }
    
}